* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
}
body {
	font-family: 'Inter', sans-serif;
	padding: 2rem;
	color: #1a1a1a;
	font-size: 1rem;
}
h1, h2, h2, h4, h5, p, input {
	line-height: 1.5rem;
	font-size: 1rem;
	font-weight: 400;
}

h1, h2, h2, h4, h5 {
	text-transform: uppercase;
}
a {
	color: #1a1a1a;
	opacity: 0.7;
	text-decoration: none;
}
a:hover {
	opacity: 1;
}
header:hover p, footer:hover {
	opacity: 1;
}